/* info */
header .info {
  float: right;
  margin: 130px 0px 200px;
  width: 550px;
}
.clear-both::after {
  clear: both;
}
header .info .title-info {
  font-size: 50px;
  color: black;
}
header .info button {
  width: 170px;
  height: 60px;
  margin: 5px;
}
