<header >
<app-toolbar-header></app-toolbar-header>
  <div class="row-area overflow-auto">
      <section class="info">
        <h1 class="title-info">المنصة الأولى لطلاب الثانويه في الاردن</h1>
        <p>حصص اونلاين يوفر عدد كبير من الدورات عالية الجودة في جميع المواد يقدمها مجموعه من المعلمين المتخصصين والأفضل
          في الاردن</p>
  
        <div class="info-btn-container"></div>
        <button mat-flat-button color="primary" class="btn">
          انشاء حساب
        </button>
        <button mat-stroked-button color="primary" class="btn background-white">
          تصفح الدورات
        </button>
      </section>
      <div class="clear-both"></div>
    </div>

</header>