<footer class="gray-area ">
    <p class="title-section">دورات حصص اونلاين</p>
    <div class="row-area flex  footer-container">


      <article>
        <mat-icon>apps</mat-icon>
        <div>
          <h1>asd asd asd</h1>
          <p>asdasf asfsfs wefwefe wfewef wefewefe wefwefew wefwef </p>
        </div>

      </article>


      <article>
        <mat-icon>apps</mat-icon>
        <div>
          <h1>asd asd asd</h1>
          <p>asdasf asfsfs wefwefe wfewef wefewefe wefwefew wefwef </p>
        </div>

      </article>


      <article>
        <mat-icon>apps</mat-icon>
        <div>
          <h1>asd asd asd</h1>
          <p>asdasf asfsfs wefwefe wfewef wefewefe wefwefew wefwef </p>
        </div>

      </article>
    </div>

    <button mat-flat-button color="primary" class="btn">
      سجل الان
    </button>
  </footer>