<section class="about-us">

  <ul>
    <li><a>تواصل معا </a></li>
    <li><a> شروط تواصل معنا</a></li>
    <li><a>سياسة الخصوصية </a></li>
    <li><a> درس معنا</a></li>
    <li><a> عن حصص اونلاين</a></li>
  </ul>



  <ul>
    <li><a>
        <mat-icon color="primary">apps</mat-icon>
      </a></li>
    <li><a>
        <mat-icon color="primary">apps</mat-icon>
      </a></li>
    <li><a>
        <mat-icon color="primary">apps</mat-icon>
      </a></li>
    <li><a>
        <mat-icon color="primary">apps</mat-icon>
      </a></li>
  </ul>
  <p class="all-rights-are-save"> 2019 ○ جميع الحقوق محفوظة</p>
</section>