.x-area {
  max-width: 830px;
  width: 100%;
  margin: auto;
}
.DELETE_CARD {
  position: relative;
  height: 500px;
  width: 500px;
  background: gray;
  margin: 300px auto;
}










.comment-header {
  display: flex;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.center {
  margin: auto;
  display: block;
}
mat-icon {
  font-size: 20px;
}

.free-label {
  position: absolute;
  background: #00df43;
  left: -17px;
  top: -17px;
  height: 50px;
  width: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.free-label::after,
.free-label::before {
  content: "";
  position: absolute;
  top: 0px;
  background: #00df43;
  height: 50px;
  width: 50px;
  display: block;
  z-index: -1;
  transform: rotate(60deg);
}
.free-label::before {
  transform: rotate(30deg) !important;
}
