.course-card {
  width: 250px;
  margin: 15px 5px;
  display: inline-block;
  position: relative;
}

.course-card .teather-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 3px solid white;
  position: absolute;
  top: -50px;
  right: calc(50% - 29px);
}
.course-card .teather-picture img {
  width: 100%;
  height: 100%;
}

.course-card mat-card-content {
  position: relative;
  text-align: center;
}

.course-card .vedio-container {
  display: inline-flex;
  align-items: center;
}
.status{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0091f1;
    min-width: 30px;
    text-align: left;
    font-size: 23px;
    display: inline-block;
    z-index: 1;
    border-radius: 5px;
    color: white;
    padding: 0px 10px;
}

.status del{
    color:#ffcecf;
    font-size: 16px;
    font-weight: 300;
}

.status.del{
    background: #ff4246;
}
.status.free{
    background: #00cd3d !important;
}