<mat-toolbar color="primary" class="mat-toolbar-header">
  <div class="row-area mat-toolbar-container">
    <div class="course-detail">
      <h1>sadf asdf sdaf sadf sdf sf sadf sdf sda ds asdsds</h1>
      <p>asd asd asd ads asd asd asd asd asd adsasd asd asd ads asd asd asd asd asd adsasd asd asd ads asd asd asd asd
        asd ads</p>
      <div class="description">
        <div>
          <span>

            <span>بواسطه</span>
            <img class="teacher-image"
              src="http://wbievents.com/conference/second-brand-protection/images/speaker/matteo%20mattei.jpg">
            <span>ا.احمد فيومي</span>
          </span>

          <span>
            <mat-icon>apps</mat-icon>
            14 درس
          </span>


          <span>
            <mat-icon>apps</mat-icon>
            اخر تحديث2020/20
          </span>

        </div>

        <div>

          <span>
            <span>تقيم الدوره</span>
            <star-rating value="1" checkedcolor="#fff6" uncheckedcolor="white" size="20px" readonly="false"
              (rate)="onRate($event)"></star-rating>
            45
          </span>

          <span>
            <mat-icon>apps</mat-icon>
            2500 طالبا
          </span>
        </div>
      </div>
    </div>

    <app-card-not-register></app-card-not-register>

  </div>



</mat-toolbar>