<section class="main">
  <section *ngIf='statusSearchMobileBox' class="search-mobile-box">
    <mat-form-field class="example-form-field" appearance="outline" MatFormFieldControl>
      <mat-icon matPrefix *ngIf="!value">search</mat-icon>
      <mat-label>search</mat-label>
      <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"  >
        <mat-icon matPrefix>close</mat-icon>
      </button>
    </mat-form-field>
  </section>
  <mat-toolbar class="toolbar-mobile">

    <div class="row-area flex">
      <mat-drawer-container class="more-container" autosize>
        <mat-drawer #drawer class="more-sidenav" mode="side">
          <span class="more-sidenav-header">
            <mat-icon color="primary">apps</mat-icon>
            <span>الدورات</span>
            <span class="spacer"></span>
            <mat-icon color="primary" (click)="drawer.toggle()">Arrow</mat-icon>
          </span>
          <mat-divider></mat-divider>
          <nav>
            <ul>
              <li>
                <mat-icon color="primary">apps</mat-icon>
                <span>انشاء حساب</span>
              </li>

              <li>
                <mat-icon color="primary">apps</mat-icon>
                <span>انشاء حساب</span>
              </li>

              <li>
                <mat-icon color="primary">apps</mat-icon>
                <span>انشاء حساب</span>
              </li>
            </ul>
          </nav>
        </mat-drawer>
      </mat-drawer-container>

      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon color="primary">menu</mat-icon>
      </button>

      <span class="spacer"></span>
      <span class="logo">
        حصص اونلاين
      </span>
      <span class="spacer"></span>

      <button type="button" mat-button (click)="changeSearchMobileStatus(true)">
        <mat-icon color="primary">search</mat-icon>
      </button>

    </div>
  </mat-toolbar>


  <mat-toolbar class="toolbar">
    <div class="row-area flex">
      <span class="logo">
        حصص اونلاين
      </span>
      <div class="course">
        <button mat-button class="course-btn" [matMenuTriggerFor]="menu">
          <mat-icon>apps</mat-icon>
          الدورات
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

      </div>
      <input type="text" class="search-box" placeholder='ماذا تريد أن تدرس اليوم؟'>

      <span class="spacer"></span>

      <button mat-stroked-button color="primary" class="btn login-btn">تسجيل دخول</button>
    </div>

  </mat-toolbar>


  <div class="row-area overflow-auto">
    <section class="info">
      <h1 class="title-info">المنصة الأولى لطلاب الثانويه في الاردن</h1>
      <p>حصص اونلاين يوفر عدد كبير من الدورات عالية الجودة في جميع المواد يقدمها مجموعه من المعلمين المتخصصين والأفضل
        في الاردن</p>

      <div class="info-btn-container"></div>
      <button mat-flat-button color="primary" class="btn">
        انشاء حساب
      </button>
      <button mat-stroked-button color="primary" class="btn background-white">
        تصفح الدورات
      </button>
    </section>
    <div class="clear-both"></div>
  </div>


  <section class="row-area courses-section">
    <p class="title-section">دورات في جميع المواد</p>
    <div class="courses-container">

      <button mat-raised-button>
        <div class="btn-content">
          <mat-icon color="primary">apps</mat-icon>
          <span>
            <p class="course-name">لغة عربية</p>
            <p>دورة 16 </p>
          </span>
        </div>
      </button>

      <button mat-raised-button>
        <div class="btn-content">
          <mat-icon color="primary">apps</mat-icon>
          <span>
            <p class="course-name">لغة عربية</p>
            <p>دورة 16 </p>
          </span>
        </div>
      </button>

      <button mat-raised-button>
        <div class="btn-content">
          <mat-icon color="primary">apps</mat-icon>
          <span>
            <p class="course-name">لغة عربية</p>
            <p>دورة 16 </p>
          </span>
        </div>
      </button>

      <button mat-raised-button>
        <div class="btn-content">
          <mat-icon color="primary">apps</mat-icon>
          <span>
            <p class="course-name">لغة عربية</p>
            <p>دورة 16 </p>
          </span>
        </div>
      </button>

      <button mat-raised-button>
        <div class="btn-content">
          <mat-icon color="primary">apps</mat-icon>
          <span>
            <p class="course-name">لغة عربية</p>
            <p>دورة 16 </p>
          </span>
        </div>
      </button>


      <button mat-raised-button>
        <div class="btn-content">
          <mat-icon color="primary">apps</mat-icon>
          <span>
            <p class="course-name">لغة عربية</p>
            <p>دورة 16 </p>
          </span>
        </div>
      </button>


      <button mat-raised-button>
        <div class="btn-content">
          <mat-icon color="primary">apps</mat-icon>
          <span>
            <p class="course-name">لغة عربية</p>
            <p>دورة 16 </p>
          </span>
        </div>
      </button>


      <button mat-raised-button color="primary">
        <div class="btn-content">
          <mat-icon>more </mat-icon>
          <span>
            <p class="course-name">تصفح جميع المواد</p>
          </span>
        </div>
      </button>

    </div>
  </section>

  <section class="teacher-area gray-area">
    <div class="row-area">
      <app-teather-list [data]='teatherList'></app-teather-list>
    </div>

  </section>

  <section class="row-area course-list">
    <p class="title-section">دورات حصص اونلاين</p>
    <div class="course-card-container">
      <app-course-card *ngFor='let item of courseList' [data]='item'> </app-course-card>
    </div>
    <button mat-stroked-button color="primary" class="btn">
      تصفح الدورات
    </button>
  </section>

  <footer class="gray-area ">
    <p class="title-section">دورات حصص اونلاين</p>
    <div class="row-area flex  footer-container">


      <article>
        <mat-icon>apps</mat-icon>
        <div>
          <h1>asd asd asd</h1>
          <p>asdasf asfsfs wefwefe wfewef wefewefe wefwefew wefwef </p>
        </div>

      </article>


      <article>
        <mat-icon>apps</mat-icon>
        <div>
          <h1>asd asd asd</h1>
          <p>asdasf asfsfs wefwefe wfewef wefewefe wefwefew wefwef </p>
        </div>

      </article>


      <article>
        <mat-icon>apps</mat-icon>
        <div>
          <h1>asd asd asd</h1>
          <p>asdasf asfsfs wefwefe wfewef wefewefe wefwefew wefwef </p>
        </div>

      </article>
    </div>

    <button mat-flat-button color="primary" class="btn">
      سجل الان
    </button>
  </footer>

  <section class="about-us">

    <ul>
      <li><a>تواصل معا </a></li>
      <li><a> شروط تواصل معنا</a></li>
      <li><a>سياسة الخصوصية </a></li>
      <li><a> درس معنا</a></li>
      <li><a> عن حصص اونلاين</a></li>
    </ul>



    <ul>
      <li><a>
          <mat-icon color="primary">apps</mat-icon>
        </a></li>
      <li><a>
          <mat-icon color="primary">apps</mat-icon>
        </a></li>
      <li><a>
          <mat-icon color="primary">apps</mat-icon>
        </a></li>
      <li><a>
          <mat-icon color="primary">apps</mat-icon>
        </a></li>
    </ul>
    <p class="all-rights-are-save"> 2019 ○ جميع الحقوق محفوظة</p>
  </section>
</section>