
  <section class="row-area courses-section">
      <p class="title-section">دورات في جميع المواد</p>
      <div class="courses-container">
  
        <button mat-raised-button>
          <div class="btn-content">
            <mat-icon color="primary">apps</mat-icon>
            <span>
              <p class="course-name">لغة عربية</p>
              <p>دورة 16 </p>
            </span>
          </div>
        </button>
  
        <button mat-raised-button>
          <div class="btn-content">
            <mat-icon color="primary">apps</mat-icon>
            <span>
              <p class="course-name">لغة عربية</p>
              <p>دورة 16 </p>
            </span>
          </div>
        </button>
  
        <button mat-raised-button>
          <div class="btn-content">
            <mat-icon color="primary">apps</mat-icon>
            <span>
              <p class="course-name">لغة عربية</p>
              <p>دورة 16 </p>
            </span>
          </div>
        </button>
  
        <button mat-raised-button>
          <div class="btn-content">
            <mat-icon color="primary">apps</mat-icon>
            <span>
              <p class="course-name">لغة عربية</p>
              <p>دورة 16 </p>
            </span>
          </div>
        </button>
  
        <button mat-raised-button>
          <div class="btn-content">
            <mat-icon color="primary">apps</mat-icon>
            <span>
              <p class="course-name">لغة عربية</p>
              <p>دورة 16 </p>
            </span>
          </div>
        </button>
  
  
        <button mat-raised-button>
          <div class="btn-content">
            <mat-icon color="primary">apps</mat-icon>
            <span>
              <p class="course-name">لغة عربية</p>
              <p>دورة 16 </p>
            </span>
          </div>
        </button>
  
  
        <button mat-raised-button>
          <div class="btn-content">
            <mat-icon color="primary">apps</mat-icon>
            <span>
              <p class="course-name">لغة عربية</p>
              <p>دورة 16 </p>
            </span>
          </div>
        </button>
  
  
        <button mat-raised-button color="primary">
          <div class="btn-content">
            <mat-icon>more </mat-icon>
            <span>
              <p class="course-name">تصفح جميع المواد</p>
            </span>
          </div>
        </button>
  
      </div>
    </section>