<div class="row-area">
  <h1 class="title-section">text text text</h1>


  <mat-accordion>

    <mat-expansion-panel [expanded]=" true" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>apps</mat-icon>
          الوحده الاولي
        </mat-panel-title>


        <mat-panel-description class="unit-name">
          العناصر الانتقاليه

        </mat-panel-description>

        <mat-panel-description class="course-length-content">
          <mat-icon>apps</mat-icon>
          13 درس
        </mat-panel-description>

      </mat-expansion-panel-header>

      <ul>
        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>
      </ul>
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>apps</mat-icon>
          الوحده الاولي
        </mat-panel-title>


        <mat-panel-description class="unit-name">
          العناصر الانتقاليه

        </mat-panel-description>

        <mat-panel-description class="course-length-content">
          <mat-icon>apps</mat-icon>
          13 درس
        </mat-panel-description>

      </mat-expansion-panel-header>
      <ul>
        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>
      </ul>
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>apps</mat-icon>
          الوحده الاولي
        </mat-panel-title>


        <mat-panel-description class="unit-name">
          العناصر الانتقاليه

        </mat-panel-description>

        <mat-panel-description class="course-length-content">
          <mat-icon>apps</mat-icon>
          13 درس
        </mat-panel-description>

      </mat-expansion-panel-header>
      <ul>
        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>
      </ul>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>apps</mat-icon>
          الوحده الاولي
        </mat-panel-title>


        <mat-panel-description class="unit-name">
          العناصر الانتقاليه

        </mat-panel-description>

        <mat-panel-description class="course-length-content">
          <mat-icon>apps</mat-icon>
          13 درس
        </mat-panel-description>

      </mat-expansion-panel-header>
      <ul>
        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>

        <li>
          <mat-icon>apps</mat-icon>
          <span> العناصر الانتقاليه</span>
          <div class="spacer"></div>
          <span>8:30</span>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>


  <div class="about-teacher">
    <h1>مقدم الدوره</h1>
    <div class="flex about-teacher-content">
      <div class="teacher-card">

        <div class="card-content">
          <mat-card class="teather-card">
            <mat-card-content class="card-content-image">
              <img mat-card-image
                src="http://wbievents.com/conference/second-brand-protection/images/speaker/matteo%20mattei.jpg"
                [alt]="item.name">
            </mat-card-content>

            <mat-card-content>
              <p class="name"> asds</p>
              <p class="desc"> asdasddas</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <div class="teacher-info">
        <p>asdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdvasdfa sdfasdfasdf
          dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfd</p>
        <p>asdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdvasdfa sdfasdfasdf
          dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfd</p>
        <p>asdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdvasdfa sdfasdfasdf
          dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfd</p>
        <p>asdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdvasdfa sdfasdfasdf
          dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfd</p>
        <p>asdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfdvasdfa sdfasdfasdf
          dfasfdasfdasdfa sdfasdfasdf dfasfdasfdasdfa sdfasdfasdf dfasfdasfd</p>
      </div>
    </div>

  </div>
</div>