mat-expansion-panel {
  margin: 15px 0px;
}
mat-panel-title {
  font-size: 18px;
  color: #757575;
  /* flex: 0 1 100px; */
}
mat-panel-description {
  font-size: 20px;
  color: #252525;
}
.course-length-content {
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  color: #0056ff;
}
.unit-name {
  flex: 7 0;
}
.mat-expansion-indicator {
  order: -2;
}

mat-expansion-panel ul li {
  display: flex;
  margin: 20px 0px;
}

.mat-expansion-panel ul li mat-icon {
  background: #ebeff1;
  border-radius: 50%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  color: #5f7c8a;
  margin: 0px 0px 0px 10px;
}

.mat-expansion-panel ul li mat-icon::before {
  content: "";
  background: #ebeff1;
  position: absolute;
  height: 45px;
  width: 3px;
  z-index: -1;
}

.teacher-card {
  width: 225px;
  height: 360px;
  margin: 0px 15px;
  display: inline-block;
  flex-shrink: 0;
}

.teacher-card .card-content-image {
  height: 225px;
}

.teacher-card .card-content-image img {
  height: 100%;
}

.teacher-card .name {
  font-size: 22px;
}

.teacher-card .desc {
  font-size: 18px;
}
