<app-toolbar-header></app-toolbar-header>

<app-toolbar-not-register></app-toolbar-not-register>

<div class="row-area flex about-course">
    <div class="about-course-art">
        <h1>hiiii</h1>
        <p>ads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds dsads ads ads ads ads das sad ads asd ads ds
            ds dsd sds ds ds ds dsads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds dsads ads ads ads ads
            das sad ads asd ads ds ds dsd sds ds ds ds
            dsads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds ds</p>

        <p>ads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds dsads ads ads ads ads das sad ads asd ads ds
            ds dsd sds ds ds ds dsads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds dsads ads ads ads ads
            das sad ads asd ads ds ds dsd sds ds ds ds
            dsads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds ds</p>
        <p>ads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds dsads ads ads ads ads das sad ads asd ads ds
            ds dsd sds ds ds ds dsads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds dsads ads ads ads ads
            das sad ads asd ads ds ds dsd sds ds ds ds
            dsads ads ads ads ads das sad ads asd ads ds ds dsd sds ds ds ds ds</p>
    </div>


    <div class="course-benefits">
        <h1>hiiii</h1>
        <ul>
            <li><mat-icon>apps</mat-icon> asdfghj asdfghj asdfgh</li>
            <li><mat-icon>apps</mat-icon> asdfghj asdfghj asdfgh</li>
            <li><mat-icon>apps</mat-icon> asdfghj asdfghj asdfgh</li>
            <li><mat-icon>apps</mat-icon> asdfghj asdfghj asdfgh</li>
            <li><mat-icon>apps</mat-icon> asdfghj asdfghj asdfgh</li>
        </ul>
    </div>

</div>

<div class="gray-area">
    <app-cousre-content></app-cousre-content>
</div>
<app-footer></app-footer>
<app-about-us></app-about-us>