/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
}
body * {
  outline: none;
}

/* common */
.row-area {
  width: 1110px;
  margin: auto;
}
.title-section {
  text-align: center;
  font-size: 40px;
}

.spacer {
  flex: 1 1 auto;
}
.flex {
  display: flex;
}
.overflow-auto {
  overflow: auto;
}
